{% extends "servapp/layout.html" %}

{% load static %}

{% block body %}
<h2>Create Service</h2>

<form action="{% url 'create_service' %}" method="post">
    {% csrf_token %}
    <input class="form-control" type="hidden" name="username" value="{{ user.username }}">

    <div class="form-group">
        <input autofocus class="form-control" type="text" name="title" placeholder="Title">
    </div>
    
    <div class="form-group">
        <input class="form-control" type="text" name="service_type" placeholder="Type">
    </div>
    <div class="form-group" id="geocoder-address">
        <input class="form-control" type="hidden" name="geocoder_result" id="geocoder-result" >
    </div>
    <div class="form-group">
        <textarea name="description" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
        <input class="form-control" type="number" name="rate" placeholder="Rate">
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
    
{% endblock %}


{% block script %}
    <script src="{% static 'servapp/create_service.js' %}"></script>
    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    
{% endblock %}