{% extends "servapp/nav.html" %}

{% load static %}

{% block body %}


<div class="listings-view">
    <h2>Create Listing</h2>
    <div id="errors">
        {% if errors %}
            <p>Errors:</p>
            {% for error in errors %}
                <li class="error">{{ error }}</li>
            {% empty %}
            {% endfor %}
            <br>
        {% endif %}
    </div>
    

    <form id="listing-form" name="listing_form" action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        <input class="form-control" type="hidden" id="listing-username" name="listing_username" value="{{ user.username }}">
    
        <div class="form-group">
            <input autofocus class="form-control" type="text" id="listing-title" name="listing_title" placeholder="Title">
        </div>
        
        <div class="form-group">
            <input class="form-control" type="text" id="listing-type" name="listing_type" placeholder="Type">
        </div>
        <div class="form-group" id="geocoder-address" >
            <input class="form-control" type="text" id="listing-address" name="listing_address" placeholder="Address" >
        </div>
        <input class="form-control" id="listing-location" name="listing_location" type="hidden" value="">
        <br>
        <div class="form-group">
            <textarea class="form-control" id="listing-description" name="listing_description" placeholder="Description"></textarea>
        </div>
        <!-- <div class="form-group">
            <input class="form-control" type="number" name="rate" placeholder="Rate">
        </div> -->

        <div class="form-group" id="services-view">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="tab-nav" role="tablist">
                        <!-- <li class="nav-item">
                            <a class="nav-link active" href="#description" role="tab" aria-controls="description" aria-selected="true">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link create-service"  href="#history" role="tab" aria-controls="history" aria-selected="false">+ Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#deals" role="tab" aria-controls="deals" aria-selected="false">Deals</a>
                        </li> -->
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content mt-3" id="pane-content">
                        
                    </div>
                </div>
              </div>
        </div>

        <input class="btn btn-primary" type="submit" id="submit-button" value="Submit" >
    </form>
</div>

<div id="map-view">
    <div class="text-center" id="leaflet-map"></div>
</div>



{% endblock %}


{% block script %}
    <script src="{% static 'servapp/create_listing.js' %}"></script>
    <script src="{% static 'servapp/create_service_appointments.js' %}"></script>
    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    
{% endblock %}