{% extends "servapp/nav.html" %}

{% load static %}

{% block body %}

<h2 class="title">Edit Listing</h2>
<div class="listings-view">
    {% for error in errors %}
        <li class="error">{{ error }}</li>
    {% empty %}
    {% endfor %}
    <form action="{% url 'edit_listing' listing.title%}" method="POST">
        {% csrf_token %}
        <input class="form-control" type="hidden" name="username" value="{{ user.username }}">
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="title" value="{{ listing.title }}">
        </div>
        
        <div class="form-group">
            <input class="form-control" type="text" name="listing_type" value="{{ listing.listing_type }}">
        </div>
        <div class="form-group" id="geocoder-address" >
            <input class="form-control" type="text" name="address" id="address" value="{{ listing.address }}">
        </div>
        <br>
        <div class="form-group">
            <textarea class="form-control" name="description">{{ listing.description }}</textarea>
        </div>
        <input class="form-control" id="location" name="location" type="hidden" value="">
        <!-- <div class="form-group">
            <input class="form-control" type="number" name="rate" placeholder="Rate">
        </div> -->
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>

<div id="map-view">
    <div class="text-center" id="leaflet-map"></div>
    <input class="form-control" id="listing-geojson" type="hidden" value="{{ listing_geojson }}">
</div>

{% endblock %}


{% block script %}
    <script src="{% static 'servapp/edit_listing.js' %}"></script>
    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    
{% endblock %}