{% extends "servapp/nav-home.html" %}

{% load static %}

{% block body %}
    <div class="home-view">
        <div class="title-search">
            <div class="home-elements">
                <h1 class="home-subtitle">Shopping Local Made Simple</h1>
                <div class="search-form">
                    <form class="form-inline home-form" method="GET" action="{% url 'search' %}">
                        <div class="form-inline">
                            <input class="form-control" id="listing-input" type="text" name="listing_type" placeholder="Service">
                            <input class="form-control" id="location-input" type="text" name="location" placeholder="Location">
                            <input class="btn btn-primary review-button" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>     
        </div>
    </div>
        

{% endblock %}

{% block script %}
<script src="{% static 'servapp/home.js' %}"></script>
{% endblock %}