{% extends "servapp/layout.html" %}

{% load static %}

{% block body %}


<input id='mapbox-access-token' type="hidden" value= "{{ mapbox_access_token }}">
<!-- Put in results.html -->
<div class="home-view">
    <div class="title-search">
        <h1 class="title">Serv</h1>
        <div class="search-form"></div>
    </div>
</div>
<!-- Put in results.html -->
<div class="results-view">
    <div class="listings-view">
    </div>

    <div class="map-view">
        

        <!-- <div id='map' style='width: 400px; height: 300px;'></div> -->
        <div id='map'></div>

        <!-- <div id='map' style='width: 100%; height: 100%;'></div>  -->
        
        <script>
            
        
            

            // 
        </script>
    </div>
</div>
<div class="page-view">
    <h1 class="properties-title"></h1>
    <h3 class="properties-owner"></h3>
    <h4 class="properties-service-type"></h4>
    <hr>
    <h6 class="properties-rate"></h6>
    <p class="properties-description"></p>
    
</div>
<!-- Put in results.html -->

{% endblock %}

{% block script %}
    <script src="{% static 'servapp/index.js' %}"></script>
    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    
{% endblock %}