{% extends "servapp/nav.html" %}

{% load static %}

{% block body %}
    <div class="listing-page-right">
        <h1 class="listing-title" id="listing-title">{{ listing.title }}</h1>
        <h3 class="listing-owner">{{ listing.user }}</h3>
        <h5 class="listing-listing-type">{{ listing.listing_type }}</h4>
        <p class="listing-description">{{ listing.description }}</p>  
        <input class='form-control' id='listing-geojson' type="hidden" value="{{ listing_geojson }}">
        <p class="listing-address">{{ listing.address }}</p>
        <div class="static-map">
            <img class="location-map" alt="" src="">
        </div>

        <div class="review-view">
            {% for error in errors %}
                <li class="error">{{ error }}</li>
            {% empty %}
            {% endfor %}
            <form id='review-form' method="POST" action="{% url 'listing' listing.title %}">
                {% csrf_token %}
                <label for="stars">Stars:</label>
                <select name="stars" id="stars">
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
                <textarea class="form-control" id="review-text" name="text" placeholder="Write a review..."></textarea>
                <input class="form-control" type="hidden" name="username" id="username" value="{{ user.username }}">
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
            <hr>
            <div class="reviews">
                {% for review in reviews %}
                    <!-- {% if review.user.username == user.username %}
                        <a class="edit-link" id="edit-review" href="#">Edit</a>
                    {% endif %} -->
                    <div class="review" id="review">
                        <h3 class="review-user" id="review-user">{{ review.user }}</h3>
                        <h6 class="review-stars" id="review-stars">{{ review.stars }} Stars</h6>
                        <p class="review-text" id="review-text">{{ review.text }}</p>
                        <hr>
                    </div>
                {% empty %}
                    <h3 class="review-user">No reviews for {{ listing.title }}</h3>
                {% endfor %}
            </div>
            <input id='mapbox-access-token' type="hidden" value= "{{ mapbox_access_token }}">
            <input id='map-icon' type="hidden" value="{% static 'servapp/mapbox-icon.png' %}">
            
        </div>
    </div>

    <div class="listing-page-left">
        <div class="calendar-view">
            {% if listing.user.username == user.username %}
                <a class="edit-link" id="edit-listing" href="{% url 'edit_listing' listing.title %}">Edit</a>
            {% endif %}
            <div id="accordion">
                <div class="listing-view">
                    <div class="card">
                        <div class="card-header" id="listings-header">
                                <button class="btn btn-link text-left" id="listings-button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Services</button>
                        </div>
                        <div id="collapseOne" class="panel-collapse show card-body" aria-labelledby="headingOne">
                            <div class="form-inline" id="service-button-container">
                                {% for service in services %}
                                    <button type="button" class="btn btn-primary btn-sm service-button" id="{{ service.name }}">{{ service.name }} - ${{ service.rate }}</button>
                                {% empty %}
                                    <p>None specified</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <div id="header-box">
                                <button id="monthAndYear" class="btn btn-link text-left" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                </button>
                                <form class="form-inline d-flex flex-nowrap" id="month-year">
                                    <select class="form-control col-sm-6" name="month" id="month" onchange="jump()">
                                    </select>

                                    <label for="year"></label>
                                    <select class="form-control col-sm-6" name="year" id="year" onchange="jump()">                                
                                    </select>
                                </form>
                                <div id="arrow-buttons">
                                    <button class="btn btn-sm btn-outline-primary py-0" id="previous-button" onclick="previous()"><</button>
                                    <button class="btn btn-sm btn-outline-primary py-0" id="next-button" onclick="next()">></button>
                                </div>   
                            </div>    
                        </h5>
                    </div>
              
                    <div id="collapseTwo" class="panel-collapse collapse" aria-labelledby="headingTwo">
                        <table class="table table-bordered table-responsive-md" id="calendar">
                            <thead>
                            <tr>
                                <th>Sun</th>
                                <th>Mon</th>
                                <th>Tue</th>
                                <th>Wed</th>
                                <th>Thu</th>
                                <th>Fri</th>
                                <th>Sat</th>
                            </tr>
                            </thead>
                
                            <tbody id="calendar-body">
                
                            </tbody>
                        </table>
                        <br/>
                    </div>
                    <table class="table table-bordered table-responsive-md" id="week-calendar">
                        <thead class="week-head">

                        </thead>
                    </table>
                    <div class="card-body" id="appointment-body">
                        <h6>Appointments:</h6>
                        <div class="right-div card-div">
                            <p class="centered-paragraph"><u>AM</u></p>
                            <div class="appointment-div" id="appointment-am">
                            </div>
                        </div>
                        <div class="left-div">
                            <p class="centered-paragraph"><u>PM</u></p>
                            <div class="appointment-div" id="appointment-pm">

                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="book-container">
                        <button type="button" class="btn btn-primary btn-lg btn-block book-button">Book Now!</button>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}
    
    

{% block script %}
    <!-- <script src="{% static 'servapp/listing.js' %}"></script> -->
    <script src="{% static 'servapp/calendar.js' %}"></script>
    <!-- <script src="{% static 'servapp/appointment.js' %}"></script> -->
{% endblock %}