{% extends "servapp/nav.html" %}

{% block body %}
<div class="listing-page-left">
    <h2>Register</h2>
    <div class="errors">
        {% for error in errors %}
            <li class="error">{{ error }}</li>
        {% empty %}
        {% endfor %}
    </div>
        

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Name">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary review-button" type="submit" value="Register">
    </form>

    <p>
        Already have an account? <a class="register-link" href="{% url 'login' %}">Login here.</a>
    </p>

</div>
    
{% endblock %}