{% extends "servapp/nav.html" %}

{% load static %}

{% block body %}

    <div class="listings-view">
        {% for service in services %}
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <div class="card-title"> 
                        <a href="{% url 'service' service.title %}">{{ service.title }}</a> 
                    </div>
                    <div class="card-subtitle">{{ service.user }}</div>
                    <div class="card-text">{{ service.description }}</div>
                </div>
            </div>

        {% empty %}
            <h3 class="no-results">No results found for "{{ service_type }}" in {{ location }}.</h3>
        
        {% endfor %}
        
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
            {% if services.has_other_pages %}
                <ul class="pagination">
                    {% if services.has_previous %}
                        <li><a href="?service_type={{ service_type }}&location={{ location }}&page={{ services.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}

                    {% for i in services.paginator.page_range %}
                        {% if services.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li><a href="?service_type={{ service_type }}&location={{ location }}&page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if services.has_next %}
                        <li><a href="?service_type={{ service_type }}&location={{ location }}&page={{ services.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
        {% endif %}   
        </nav>
    </div>

    <div class="map-view">
        <div id='map'></div>
    </div>


{% endblock %}

<!-- {% block script %}
    <script src="{% static 'servapp/search.js' %}"></script>
{% endblock %} -->