{% extends "servapp/nav.html" %}

{% load static %}

{% block body %}

<div>
    <div class="listings-view">
        {% for listing in listings %}
        <div class="card border-dark mb-3">
            <div class="card-body">
                <input class="form-control" id="listing-{{ listing.id }}" type="hidden" value="{{ listing.id }}">
                <div class="card-title">
                    <a class="title" href="{% url 'listing' title=listing.title id=listing.id %}">
                        <h5>{{ listing.title }}</h5>
                    </a>
                </div>
                <div class="card-subtitle">
                    <h6>{{ listing.user.username }}</h6>
                </div>
                <p class="card-text">{{ listing.description }}</p>
            </div>
        </div>

        {% empty %}
        <h3 class="no-results">No results found for "{{ category }}" in {{ location }}.</h3>

        {% endfor %}
        {% if listings.has_other_pages %}
        <ul class="pagination">
            {% if listings.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?category={{ category }}&location={{ location }}&page=1"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">begin</span>
                </a>
            </li>
            {% endif %}

            {% for n in listings.paginator.page_range %}
            {% if listings.number == n %}
            <li class="page-item active">
                <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
            </li>
            {% elif n > listings.number|add:'-3' and n < listings.number|add:'3' %} <li class="page-item"><a
                    class="page-link" href="?category={{ category }}&location={{ location }}&page={{ n }}">{{ n }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if listings.has_next %}
                <li class="page-item">
                    <a class="page-link"
                        href="?category={{ category }}&location={{ location }}&page={{ listings.paginator.num_pages }}"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">end</span>
                    </a>
                </li>
                {% endif %}
        </ul>

        {% endif %}
    </div>

    <div class="map-view">
        <div id='map'></div>
    </div>
</div>



<div id="data">
    <input class="form-control" id="listings_geojson" type="hidden" value="{{ listings_geojson }}">
    <input class="form-control" id="bbox_map" type="hidden" value="{{ bbox }}">
    <input class="form-control" id="center_map" type="hidden" value="{{ center }}">
    <input class="form-control" id="category_map" type="hidden" value="{{ category }}">
    <input class="form-control" id="location" type="hidden" value="{{ location }}">
</div>

{% endblock %}

{% block script %}
<script src="{% static 'servapp/map.js' %}"></script>
{% endblock %}