pip install django
pip install geojson
pip install psycopg2-binary
pip install djangorestframework
pip install djangorestframework-gis
pip install django-filter
pip install django-leaflet
pip install geopy

