body {
    background-color : #430281;
}

.nav-bar {
    background-color: #430281;

    /* background-color: #FDB927; */
}

a.btn.btn-primary {
    color: white;
    background-color: #430281;
    margin-right: 2px; 
}

input.btn.btn-primary {
    margin-top: 2px;
}

.title-search {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	background-color: #430281;
	margin: auto;
}

.title {
    color: white;
    width: 84%;
    /* right: 5px; */
    margin: 0;
}

.subtitle {
    color: white;
    width: 90%;
    margin-top: 0;
    margin-bottom: 6px;
}

a.title {
    color: black;
}
/* li.nav-item {
    margin: 2px;
} */

/* li#nav-login.nav-item {
    right: 2px;
} */

a.navbar-brand {
    color: white;
}

a.nav-link {
    color: white;
}

svg.mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search {
    display: none;
}

div.search-form {
    display: inline;
}

div#geocoder-nav.geocoder-nav {
    display: inline;
}

div.mapbox-ctrl-geocoder.mapbox-ctrl { 
    display: inline-block;
    /* float: left; */
}


input#search-field.mapboxgl-ctrl-geocoder--input {
    background-color: white;
    width: 240px;
    
}

input.mapboxgl-ctrl-geocoder--input {
    background-color: white;
    /* border-radius: 75%; */
    
    
    
}


a.btn.btn-primary {
    background-color: #430281;
    color: white;
    border: 1px solid white;
    transition-duration: 0.3s;
    
}

input.btn.btn-primary {
    color: white;
    background-color: #430281;
    border: 1px solid white;
    transition-duration: 0.3s;
}

input.btn.btn-primary:hover {
    background-color: white; 
    color: grey;
}


a.btn.btn-primary:hover {
    background-color: white; 
    color: grey;
  }

.results-view {
    top: 10px;
    
}

.left-div {
    height: 100%;
    width: 50%;
    float: left;
}

.right-div {
    height: 100%;
    width: 50%;
    float: left;
}

.listings-view {
    /* display: inline-block; */
    top: 10px;
    height: 100%; /*50 for other way */
    width: 50%; /*100 for other way */
    float: left;
}

.title-view {
    float: left;
    width: 50%;
    height: 126px;
    position: relative;
}


.edit-view {
    float: right;
    width: 100%;
    height: 36px;
    position: relative;
}

.service-view {
    float: right;
    width: 100%;
    margin-bottom: 6px;
    /* height: 24px; */
    position: relative;
}

.description-view {
    float: left;
    width: 50%;
    height: 420px;
    position: relative;
}

.listing-address {
    float: left;
    
}

.static-view {
    float: left;
    width: 50%;
    height: 612px;
    position: relative;
}

.calendar-view {
    margin-top: 0px;
    padding-top: 0px;
    float: left;
    width: 100%;
    position: relative;
}

#calendar-container {
    float: left;
    width: 100%;
}

#header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#monthAndYear {
    height: 100%;
    width: 25%;

}

#month-year {
    text-align: center;
    margin-right: 90px;
}

.week-date {
    text-align: center;
    margin: 0px;
}

.week-day {
    text-align: center;
    margin: 0px;
}

#arrow-buttons{
    text-align: right;
    float: right;
    margin-top: 6px;
}

.table {
    padding:0; 
    margin:0;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.table-button-header {
    padding: none;
}

.table-button-container {
    width: 100%;
    height: 100%;
    margin: none;
    padding: none;
    display: inline-block;
}

.table-button {
    width: 48%;
    height: 100%;
    white-space: nowrap;
    /* float: left; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    text-align: center;
}


#week-calendar {
    border-color: black;
}


.week-button {
    width: 100%;
    height: 100%;

}

#headingTwo {
    position: relative;
    z-index: 1;
}
#month {
    position: relative;
    z-index: 3;
}

#year {
    position: relative;
    z-index: 3;
}

.month-cell {
    cursor: pointer;
}

.week-cell {
    cursor: pointer;
}


.month-selected {
    background-color: #430281;
}

.week-selected {
    background-color: #430281;
}

#left-button {
    float: right;
}
#accordion {
    margin-top: 6px;
} 

.static-map {
    float: left;
    margin-top: 0px;
    margin-left: 6px;
    margin-bottom: 15px;
}
.review-view {
    float: left;
    position: relative;
}

.listing-title {
    color: white;
}

.listing-owner {
    color: white;
}

.listing-service-type {
    color: white;
}

.listing-address {
    color: white;
}

.listing-description {
    color: white;
    width: 100%;
    word-wrap: break-word;
}

.review-user {
    color: white;
}

.review-stars {
    color: white;
}

.review-text {
    color: white;
}

.edit-link {
    float: right;
    margin-right: 18px;
    margin-top: 9px;
    color: white;
}
.map-view {
    /* display: inline-block; */
    top: 10px;
    height: 100%; /*50 for other way */
    width: 50%; /*100 for other way */
    float: left;
    
}

.leaflet-map {
    height: 100%;
    width: 100%;
}

#map {
    margin-top: 57px;
    height: 100%; 
    width: 100%;
    
}

#leaflet-map { 
    height: 360px; 
    width: 420px
}

.geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 10px;
}
.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}


.mapboxgl-ctrl-geocoder--input {
    background-color: white;
    display: inline-block;
    width: 50px;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.marker {
    background-image: url(mapbox-icon.png);
    background-size: 100% 100%;
    background-position: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.page-view {
    color: white;
}

.page-item {
    color: white;
}


.page-link {
    color: black;
    background-color: white;
}

.page-item.active.page-link {
    color: black;
    background-color:  #430281;
}

.error {
    color: red;
}


.form-control {
    width: 630px;
    margin-right: 1px;
}

.card {
    margin-right: 6px;
}

/* Style the input fields */
/* .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  /* Style the submit button */
  /* .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
  } */
   
