#content {
  min-height: 600px;
  height: auto !important;
  height: 600px;
}

html,
body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

.nav-bar {
  background-color: #430281;

  /* background-color: #FDB927; */
}

/* a.btn.btn-primary {
    color: white;
    background-color: #430281;
    margin-right: 2px; 
} */

.register-link {
  color: #430281;
  transition-duration: 0.3s;
}

.register-link:hover,
.register-link:focus {
  color: #190140;
}

.register-link:active {
  color: silver;
}

input.btn.btn-primary {
  margin-top: 2px;
}

.home-view {
  display: flex;
  /* text-align: center; */
  justify-content: center;
  height: 100%;
  width: 100%;
}

.title-search {
  background-image: url('painted_ladies.png');
  background-size: cover;
  /* position: absolute; */
  text-align: center;
  justify-content: center;
  /* margin: auto; */
  display: flex;
  width: 75%;
  height: 75%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
}

#home-image {
  /* position: absolute; */
  /* margin: auto; */
  /* background-size: cover; */
  /* display: block; */
  /* aspect-ratio: auto; */
  width: 100%;
  height: 100%;
  max-width: 100%; 
  max-height: 100%;
  z-index: -1;
}



.home-elements {
  /* position: absolute; */
  margin: auto;
  /* display: block; */
  /* align-items: center;  */
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 36%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-title {
  color: white;
  width: 84%;
  /* right: 5px; */
  margin: 0;
}

.home-subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: bold;
  color: white;
  margin: auto;
}

.home-form {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 0 15%;
}

.nav-form {
  padding: 0 0;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
}


.title {
  color: black;
  width: 84%;
  /* right: 5px; */
  margin: 0;
}

.subtitle {
  color: black;
  width: 90%;
  margin-top: 0;
  margin-bottom: 6px;
}

a.title {
  color: black;
}
/* li.nav-item {
    margin: 2px;
} */

/* li#nav-login.nav-item {
    right: 2px;
} */

.lr-line {
  margin-top: 12px;
}

.navbar-brand {
  color: white;
  outline: none;
}

.nav-containter {
  align-items: center;
  justify-content: center;
}

.navbar-nav {
  text-align: center;
}

a.nav-link {
  color: white;
}

svg.mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search {
  display: none;
}

.search-form {
  /* display: block; */
  margin: auto;
  width: 100%;
}

.geocoder-input {
  margin: 0px;
  width: 100%;
}

.no-border {
  border: 0;
  box-shadow: none;
}

.no-border:hover,
.no-border:focus {
  border: 0;
  box-shadow: none;
}

.no-border:active,
.no-border:active:hover,
.no-border:active:focus,
.no-border:active:hover:focus {
  border: 0;
  box-shadow: none;
}

.dropdown-menu-item {
  font-size: 0.9rem;
}

div#geocoder-nav.geocoder-nav {
  display: inline;
}

div.mapbox-ctrl-geocoder.mapbox-ctrl {
  display: inline-block;
  /* float: left; */
}

input#search-field.mapboxgl-ctrl-geocoder--input {
  background-color: white;
  width: 240px;
}

input.mapboxgl-ctrl-geocoder--input {
  background-color: white;
  /* border-radius: 75%; */
}

a.btn.btn-primary {
  background-color: #430281;
  color: white;
  border: 1px solid white;
  transition-duration: 0.3s;
}

.nav-submit {
  color: white;
  background-color: #430281;
  border: 1px solid white;
  transition-duration: 0.3s;
}

.nav-submit:hover,
.nav-submit:focus {
  background-color: #190140;
  color: white;
}

.nav-submit:active,
.nav-submit:active:hover,
.nav-submit:active:focus,
.nav-submit:active:hover:focus {
  background-color: white;
  color: silver;
}

a.btn.btn-primary:hover {
  background-color: white;
  color: grey;
}

.results-view {
  top: 10px;
}

.listing-page {
  display: inline-flex;
}

.listing-page-right {
  display: flex;
  /* height: 100%; */
  width: 50%;
  float: right;
  flex-direction: column;
  flex-grow: 1;
}

.listing-page-left {
  display: flex;
  padding-left: 3px;
  /* height: 100%; */
  width: 50%;
  float: left;
  flex-direction: column;
  flex-grow: 1;
}

#appointment-body {
  height: 100%;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}

#user-appointment-body {
  transition: opacity 0.5s ease-in-out;
}
.appointment-header {
  width: 100%;
  flex: 1;
}
.appointments {
  display: flex;
  flex-direction: row;
}
.left-div {
  /* /* display: flexbox; */
  /* height: 100%; */
  /* width: 50%; */
  float: left;
  border: 1px solid black;
  /* flex: 1; */
}
.right-div {
  /* display: flexbox; */
  /* height: 100%; */
  /* width: 50%; */
  float: left;
  border: 1px solid black;
  /* flex: 1; */
}

footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 30px;
}

.copywrite {
  text-align: center;
  font-size: small;
}

.vertical-line {
  margin-top: 30px;
  width: 1px;
  min-height: 60px;
  height: 100%;
  border: 1px solid black;
}

.centered-paragraph {
  text-align: center;
  padding-top: 6px;
}

.listings-view {
  /* display: inline-block; */
  padding-left: 3px;
  position: relative;
  top: 10px;
  height: 100%; /*50 for other way */
  width: 51%; /*100 for other way */
  float: left;
  /* overflow: auto; */
}

.title-view {
  float: left;
  width: 50%;
  height: 126px;
  position: relative;
}

.edit-view {
  float: right;
  width: 100%;
  height: 36px;
  position: relative;
}

.listing-view {
  float: right;
  width: 100%;
  margin-bottom: 6px;
  /* height: 24px; */
  position: relative;
}

.dropdown-menu {
  padding: 0;
  display: block;
  width: 100%;
  word-wrap: break-word;
  cursor: pointer;
  text-align: center;
  /* top: calc(100% + 6px); */
}

.dropdown-item {
  white-space: initial;
  /* word-break: break-word; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 13px;
  overflow: hidden;
}

.dropdown-link {
  word-wrap: break-word;
  
  
}

.description-view {
  float: left;
  width: 50%;
  height: 420px;
  position: relative;
}

.listing-address {
  float: left;
}

.static-view {
  float: left;
  width: 50%;
  height: 612px;
  position: relative;
}

@media only screen and (max-device-width: 480px) {
  .left_div {
    display: none;
  }
}

.calendar-view {
  margin-top: 0px;
  padding-top: 0px;
  float: right;
  width: 96%;
  /* position: relative; */
}

#calendar-container {
  float: left;
  width: 100%;
}

.accordion-view {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 12px;
  align-self: flex-start;
}

#header-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sc-text {
  color: #430281;
}

.sc-text:hover {
  color: #190140;
}

.sc-text:active {
  color: silver;
}

#monthAndYear {
  height: 100%;
  width: 25%;
}

#month-year {
  text-align: center;
  margin-right: 90px;
}

.week-date {
  text-align: center;
  margin: 0px;
}

.week-day {
  text-align: center;
  margin: 0px;
}

#arrow-buttons {
  text-align: right;
  float: right;
  margin-top: 6px;
}

.arrow-button {
  border: 1px solid black;
  color: black;
}

.arrow-button:hover {
  background-color: #430281;
  color: white;
}

.arrow-button:active {
  background-color: #190140;
  color: white;
}

.table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.table-button-header {
  padding: none;
}

.table-button-container {
  width: 100%;
  height: 100%;
  /*margin: none;*/
  /*padding: none;*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.table-button {
  color: black;
  flex-shrink: 0;
  border: 1px solid black;
  width: 42%;
  height: 100%;
  white-space: nowrap;
  /* float: left; */
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  font-size: medium;
  /*text-align: center;*/
}

.table-button:hover,
.table-button:focus {
  background-color: #430281;
  color: white;
}

.table-button:active,
.table-button:active:hover,
.table-button:active:focus,
.table-button:active:hover:focus {
  background-color: #190140;
  color: white;
}

.footer {
  justify-content: flex-start;
}

.modal-button {
  color: white;
  background-color: #430281;
  transition-duration: 0.3s;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #190140;
  color: white;
}

.modal-button:active,
.modal-button:active:hover,
.modal-button:active:focus,
.modal-button:active:hover:focus {
  background-color: white;
  color: silver;
}

.appointment-div {
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 18px;
  height: 100%;
  width: 100%;
}

.card-title {
  width: 50%;
}

/* #appointment-pm {
    padding-left: 18px;
}

.appointment-pm {
    padding-left: 18px;
} */

.service-button {
  color: white;
  background-color: #430281;
  margin-right: 6px;
}

.service-button:hover,
.service-button:focus {
  background-color: #190140;
  color: white;
}

.service-button:disabled,
.service-button:disabled:active,
.service-button:active,
.service-button:active:hover,
.service-button:active:focus,
.service-button:active:hover:focus {
  background-color: white;
  color: silver;
}

.nav-submit:hover,
.nav-submit:active,
.nav-submit:active:hover,
.nav-submit:active:focus,
.nav-submit:active:hover:focus {
  background-color: white;
  color: silver;
}

.service-tab {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: inline-block;
}

.service-row {
  margin: 0px;
}

.name-rate {
  width: 100%;
}
.service-name {
  float: left;
  width: 41%;
  margin: 0px;
}

.service-rate {
  margin-left: 30%;
  float: right;
  width: 24%;
}

.time-row {
  margin-top: 24px;
}

.time {
  margin: 0;
}

.hours {
  margin-left: 24%;
  margin-right: 6px;
}

.colon {
  margin: 0;
  width: 6px;
}

.minutes {
  margin-left: 6px;
  margin-right: 24px;
}

.days-row {
  margin-top: 24px;
  padding-left: 72px;
}

.day-label {
  margin-right: 30px;
}

.check {
  margin-left: 3px;
}

.nav-tab > li .close {
  margin: -2px 0 0 10px;
  font-size: 6px;
}

.create-tab {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.invisible-button:disabled {
  background: transparent;
  border: none !important;
  color: transparent;
  pointer-events: none;
}
/* .invisible-button:hover {
    background: transparent;
    border: none !important;
    color: transparent;
    
} */

.appointment-button {
  margin: 2%;
  color: white;
  background-color: #430281;
  transition-duration: 0.3s;
  border: black solid 1px;
  width: 60%;
  /* width: 120px; */
}

.appointment-button:hover,
.appointment-button:focus {
  background-color: #190140;
  color: white;
}

.appointment-button:disabled,
.appointment-button:active,
.appointment-button:active:hover,
.appointment-button:active:focus,
.appointment-button:active:hover:focus {
  background-color: white;
  color: silver;
}

.book-container {
  padding: 6px;
}

.book-button {
  color: white;
  background-color: #430281;
  font-size: x-large;
}

.book-button:hover,
.book-button:focus {
  color: white;
  background-color: #190140;
}

.book-button:disabled,
.book-button:active,
.book-button:active:hover,
.book-button:active:focus,
.book-button:active:hover:focus {
  color: silver;
  background-color: white;
}

.review-button {
  color: white;
  background-color: #430281;
}

.review-button:hover,
.review-button:focus {
  color: white;
  background-color: #190140;
}

.review-button:active,
.review-button:active:hover,
.review-button:active:focus,
.review-button:active:hover:focus {
  color: silver;
  background-color: white;
}


#week-calendar {
  border-color: black;
}

.week-button {
  width: 100%;
  height: 100%;
}

#headingTwo {
  position: relative;
  z-index: 1;
}
#month {
  position: relative;
  z-index: 3;
}

#year {
  position: relative;
  z-index: 3;
}

.month-cell {
  cursor: pointer;
}

.week-cell {
  cursor: pointer;
}

.month-selected {
  color: white;
  background-color: #430281;
}

.week-selected {
  color: white;
  background-color: #430281;
}

#left-button {
  float: right;
}
#accordion {
  margin-top: 6px;
}

.listing-view {
  width: 100%;
  float: left;
}

.static-map {
  width: 100%;
  float: left;
  margin-top: 0px;
  margin-left: 6px;
  margin-bottom: 15px;
}
.review-view {
  width: 100%;
  float: left;
  position: relative;
}

/* .listing-title {
    color: black;
}

.listing-owner {
    color: black;
}

.listing-listing-type {
    color: black;
}

.listing-address {
    color: black;
} */

.listing-description {
  color: black;
  width: 100%;
  word-wrap: break-word;
}

/* .review-user {
    color: white;
}

.review-stars {
    color: white;
}

.review-text {
    color: white;
} */

#review-body {
  width: 90%;
}

.edit-link {
  float: left;
  margin-top: 9px;
  color: black;
  justify-content: flex-end;
  text-align: right;
}

#map-view {
  margin-top: 9rem;
}

.map-view {
  /* display: inline-block; */
  /* position: relative; */
  margin-top: 50%;
  height: 100%; /*50 for other way */
  width: 48%; /*100 for other way */
  float: left;
}

.text-center {
  margin-left: 60%;
}

.leaflet-map {
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
}

#map {
  margin-top: 72px;
  top: 10px;
  height: 100%;
  width: 96%;
}

#mapbox-address {
  width: 100%;
}

#leaflet-map {
  margin-top: 6px;
  height: 360px;
  width: 420px;
}

.nav-item {
  cursor: pointer;
}

.nav-search {
  display: flex;
  align-items: center;
}

.nav-input {
  margin: 0;
}
.geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

.mapboxgl-ctrl-geocoder--input {
  background-color: white;
  display: inline-block;
  width: 50px;
}

.mapboxgl-ctrl-geocoder.suggestions {
  font-size: 0.9rem;
}

/* Related to categories */
.indent-input {
  margin-left: 3%;
  margin-bottom: 1rem;
  width: 97%
}
.category-link {
  padding-left: 3%;
  margin-bottom: auto;
}

.category-item {
  padding-left: 3%;
  margin-bottom: auto;
}

.remove-item {
  float: right;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.marker {
  background-image: url(mapbox-icon.png);
  background-size: 100% 100%;
  background-position: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.page-view {
  color: white;
}

.page-item {
  color: white;
}

.page-link {
  color: black;
  background-color: white;
}

.page-item.active.page-link {
  color: black;
  background-color: #430281;
}

.error {
  color: red;
}

.form-control {
  margin-right: 1px;
}

.review-form-element {
  width: 90%;
}

.card {
  margin-right: 6px;
}

.error404 {
  color: #430281;
}

input[type="checkbox"]:checked {
  background-color: #430281;
}
input[type="checkbox"]:checked:after {
  background-color: #430281;
}

